// :root {
//     --font-press-start-2p: 'Press Start 2P', cursive;
//   }
  
  body {
    // font-family: var(--font-press-start-2p);
    margin: 0;
    padding: 0;
}

.os-div{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    p{
        margin: 0;
        padding: 0;
    
    }
    
}
.winbox{
    position: absolute;
    top: 0;
    margin: 0;
    display: flex;
    height: 400px;
    // height: 100vh;
    width: 400px;
    // width: 100vw;
    flex-direction: column;
}
.wb-body{
    background-color: yellow;
    border: 5px solid green;
    flex: 1;
}

.wb-title{
    background-color: red;
    display: inline-block;
    margin: 0%;
    h2{
        margin: 0%;
        display: inline-block;
    }
}
.wb-drag{
    display: inline-block;
}
.wb-control{
    display: inline-block;
}
.wb-min,.wb-full,.wb-close{
    // display: inline-block;
    cursor:pointer;
    margin-left:4px;
    margin-right: 4px;
    
}

.wb-header{
    background-color: blue;
    border: 3px solid black;
    display: flex;
    align-items: center;
}
.wb-control{
    display: flex;
    align-items: center;
    background-color: greenyellow;
}
.wb-drag{
    flex: 1;
    background-color: aqua;
}
.main-desktop-container{
    display: flex;
    flex-direction: column;
    background-image: url('/wallpaper.png');
    // background-size: 100vh 100vw;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}
.playground{
    flex: 1;
}
.task-bar{
    height: 50px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    opacity: 0.7;
    
}
.time-div{
    color:white
}
.task-bar{
    display: flex;
    align-items: center;
    .appdiv{
        flex: 1;
    }
}