// :root {
//     --font-press-start-2p: 'Press Start 2P', cursive;
//   }

  body {
    // font-family: var(--font-press-start-2p);
    margin: 0;
    padding: 0;
}

.os-div{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    p{
        margin: 0;
        padding: 0;
    
    }
    
}
.winbox{
    position: absolute;
    top: 0;
    margin: 0;
    display: flex;
    height: 400px;
    // height: 100vh;
    width: 400px;
    // width: 100vw;
    flex-direction: column;
    // opacity: 0.8;
    
}


.wb-title{
    // background-color: red;
    display: inline-block;
    margin-left: 20px;

    h2{
        margin: 0%;
        display: inline-block;
        font-size: medium;
    }
}
.wb-drag{
    display: inline-block;
    display: flex;
    align-items: center;
    
}
.wb-control{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.wb-min,.wb-full,.wb-close{
    // display: inline-block;
    cursor:pointer;
    margin-left:4px;
    margin-right: 4px;
    
}

.wb-body{
    background-color: #FAF4E6;
    border: 5px solid black;
    flex: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 
    15px 15px 0 rgba(0, 0, 0, 0.6),  /* Main shadow */
    15px 15px 0 rgba(0, 0, 0, 0.6); 
    overflow: scroll;
}
.wb-body::-webkit-scrollbar{
    border-radius: 20px;
    // background-color: aqua;

}
.wb-body::-webkit-scrollbar-thumb{
    background-color: rgb(250, 213, 154);
    // background-image: url("");
    border-radius: 20px;
}
.wb-body::-webkit-scrollbar-corner {
    // background-color: red;
    border-radius: 30px; /* or any color you prefer */
  }

.min-icon:hover{
    background-color: rgb(248, 248, 131);
    border-radius: 20px;
 }
 .max-icon:hover{
    background-color:rgb(237, 193, 122);
    border-radius: 20px;
 }
.close-icon:hover{
    background-color: rgb(249, 183, 177);
    border-radius: 20px;
    }
.wb-header{
    background-color: #FAF4E6;
    border: 5px solid black;
    border-bottom: 0;
    display: flex;
    // font-size: medium;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 
    15px 15px 0 rgba(0, 0, 0, 0.6),  /* Main shadow */
    15px 15px 0 rgba(0, 0, 0, 0.6); 
}
.wb-control{
    display: flex;
    align-items: center;
    // background-color: greenyellow;
}
.wb-drag{
    flex: 1;
    cursor: move;
    // background-color: aqua;
}

  .wb-right, .wb-left, .wb-top, .wb-bottom,
  .wb-top-left, .wb-top-right, .wb-bottom-left, .wb-bottom-right {
    position: absolute;
    background: transparent;
    z-index: 9999;
  }
  
  .wb-right, .wb-left {
    width: 6px;
    height: 100%;
    cursor: ew-resize;
  }
  
  .wb-top, .wb-bottom {
    height: 6px;
    width: 100%;
    cursor: ns-resize;
  }
  .wb-top{
    cursor: pointer;
  }
  
  .wb-right { right: 0; }
  .wb-left { left: 0; }
  .wb-top { top: 0; }
  .wb-bottom { bottom: 0; }
  
  .wb-top-left, .wb-top-right, .wb-bottom-left, .wb-bottom-right {
    width: 6px;
    height: 6px;
  }
  
  .wb-top-left { top: 0; left: 0; cursor: nwse-resize; }
  .wb-top-right { top: 0; right: 0; cursor: nesw-resize; }
  .wb-bottom-left { bottom: 0; left: 0; cursor: nesw-resize; }
  .wb-bottom-right { bottom: 0; right: 0; cursor: nwse-resize; }


.main-desktop-container{
    display: flex;
    flex-direction: column;
    background-image: url('/wallpaper.png');
    // background-size: 100vh 100vw;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}
.playground{
    position: relative;
    overflow: hidden;
    flex: 1;
}
.task-bar{
    height: 50px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    opacity: 0.7;
    z-index: 10000;
    
}
.time-div{
    color:white
}
.task-bar{
    display: flex;
    align-items: center;
    .app-div{
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-left: 150px;
        flex: 1;
    }
}
.app-directory-container{
    position: relative;
}
.app-directory-menu{
    position: absolute;
    bottom: 150%; /* This positions the menu above the taskbar */
    // left: 0;
    background-color: #FAF4E6;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    min-height: 150px;
    min-width: 150px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.9);
    z-index: 1000;
}
.taskbar-elements:hover{
    background-color: rgb(0, 0, 0);
}
.taskbar-elements{
    margin-right: 20px;
}
.app-directory-active{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
}
// .menu{
//     filter: i
// }
.menu{
    font-size: small;
}
.menu:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    .menu-svg{
        filter: invert(1) brightness(100%);
    }
}
